* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', sans-serif;
}
a {
  text-decoration: none;
}
section {
  scroll-margin-top: 155px;
}

.container_fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0px;
  padding: 0px;
}

/* ///////////------ HEADER ------/////////// */
header {
  position: fixed;
  z-index: 1000;
}
.contactBar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 40px;
  background: #1a8aa9;
  color: white;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1.5px;
}
.contactBarPhone {
  margin: 0.5em 1em;
}
.contactBarPhone:hover {
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.3));
  cursor: pointer;
}
.contactBarMail {
  margin: 0.5em 1em;
}
.contactBarMail:hover {
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.3));
  cursor: pointer;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4%;
  margin: 0;
  background: #007d9f;
  transition: all 1s ease;
}
.BGscroll {
  background: hsla(0, 0%, 13%, 0.8);
}
.navMenu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-item {
  margin-left: 2.5em;
  padding: 0.3em 0;
}
li {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 1.5px;
  margin: 0 5em 0 0;
}
.bt_language {
  margin: 0 0 0 5em;
}
.navbar-collapse {
  text-align: end;
  padding: 2em;
}
.navbar-collapse li {
  margin-right: 0px;
}
.navbar-toggler {
  border: 0px;
}

/* ///////////------ HOME SECTION ------/////////// */
.sectionHome {
  margin-top: 140px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 4%;
  background-image: url('../img/Home_Image.jpg');
  background-size: cover;
  background-position: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
  height: 70vh;
}
.sectionHome h1 {
  color: white;
  font-size: clamp(2.2em, 8vw, 3.5em);
  font-weight: 600;
  text-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.7);
}
.sectionHome h3 {
  color: white;
  font-size: clamp(0.8em, 3vw, 1.25em);
  font-weight: 600;
  line-height: 1.8;
  text-shadow: 2px 4px 4px hsla(0, 0%, 0%, 0.6);
  padding-top: 1%;
}
.buttonsHome {
  display: flex;
  flex-wrap: wrap;
  padding: 4% 0;
}
.btContactoHome {
  width: 200px;
  height: 48px;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 3px;
  border-radius: 2px;
  text-align: center;
  padding: 0.8em 0;
  color: white;
  background: #fbae17;
  margin: 0 0.6em 1.2em 0.6em;
}
.btContactoHome:hover {
  cursor: pointer;
  background: hsl(40, 97%, 48%);
}
.btSobreAlbriHome {
  width: 200px;
  height: 48px;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 3px;
  border-radius: 2px;
  text-align: center;
  padding: 0.8em 0;
  color: white;
  background: #222222;
  margin: 0 0.6em 1.2em 0.6em;
}
.btSobreAlbriHome:hover {
  cursor: pointer;
  background: hsl(0, 0%, 9%);
}

.hs-form-fb4e52f0-1da0-4ec9-9982-a6e988443050_dbdf167d-3d46-4da9-a54c-00930f844038.hs-button {
  background-color: black !important;
}
.hs-button {
  background-color: black !important;
}

/* ///////////------ SERVICIOS SECTION ------/////////// */

.titleServicios {
  color: #222222;
  font-size: 1.75em;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 1.75em 0 1em 0;
  text-align: center;
}
.sectionServicios {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 2% 2% 2%;
}
.servicio {
  width: 385px; /* Responsive al 100% */
  height: 260px;
  overflow: hidden;
  margin-bottom: 2em;
}
.infoServicio {
  z-index: 10;
  position: relative;
  top: 194px;
  padding: 5%;
  height: 260px;
  background: hsla(0, 0%, 13%, 0.6);
}
.headServicio {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headServicio span {
  color: white;
  font-size: clamp(0.9em, 2vw, 1.15em);
  /* font-size: 1.15em; */
  font-weight: 600;
  letter-spacing: 1px;
}
.infoServicio p {
  color: white;
  font-size: 0.8em;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 1.6em;
  margin-top: 1.5em;
  padding-right: 1em;
}
.imgServicio {
  z-index: 5;
  position: relative;
  top: -260px;
}
.infoServicio:hover {
  transform: translateY(-194px);
  transition-duration: 1s;
  transition-timing-function: ease;
  background: hsla(0, 0%, 13%, 0.8);
}

/* ///////////------ SOBRE ALBRI SECTION ------/////////// */
.BGsobreAlbri {
  background: hsla(0, 0%, 13%, 0.05);
}
.sectionsSobreAlbri {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 2% 2% 2%;
}
.sobreAlbri {
  width: 385px;
  margin-bottom: 1.5em;
}
.headSobreAlbri {
  display: flex;
  justify-content: start;
  align-items: center;
}
.headSobreAlbri span {
  color: #222222;
  font-size: 1.15em;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0 2em;
}
.sobreAlbri p {
  color: #222222;
  /* font-size: clamp(0.6em, 1.2vw, 0.8em); */
  font-size: 0.8em;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 1.6em;
  margin-top: 1.5em;
  padding-right: 1em;
  margin-bottom: 6px;
}
/* Modal */
.modal-body p {
  color: #222222;
  font-size: 0.8em;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 2em;
  padding: 0 1.5em;
}
.sobreAlbri a {
  color: #fbae17;
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 1px;
}

/* ///////////------ POLITICAS SECTION ------/////////// */
.BGpoliticas {
  background: #1a8aa9;
  margin-top: 3em;
}
.titlePoliticas {
  color: #fbae17;
  font-size: 1.75em;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 1.75em 0 0.6em 0;
  text-align: center;
}
.BGpoliticas p {
  color: white;
  font-size: 1em;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 0 4em 3em 4em;
}

/* ///////////------ Confian En Nosotros SECTION ------/////////// */
.sectionConfian {
  display: flex;
  justify-content: space-between;
  padding: 0 2% 2% 2%;
  margin-bottom: 3%;
}
.cliente {
  width: 25%;
  background: white;
  border: 1px hsla(0, 0%, 13%, 0.3) solid;
  box-shadow: 4px 7px 0 hsla(0, 0%, 13%, 0.2);
  padding: 1%;
  margin: 0.6em;
  text-align: center;
}
.cliente img {
  width: 100%;
}

/* ///////////------ CONTACTO SECTION ------/////////// */
.sectionContacto {
  display: flex;
  justify-content: space-between;
  background: #fbae17;
  margin-bottom: 2.5em;
}
.formulario {
  width: 100%;
  padding: 0 4em 2em 4em;
}
.titleContacto {
  color: #222222;
  font-size: 1.75em;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 0.6em;
  padding: 2em 0 0.3em 0;
  text-align: center;
}
.formulario p {
  color: #222222;
  font-size: 0.9em;
  font-weight: 300;
  text-align: center;
  margin-bottom: 2.6em;
}
#formContacto .input-style {
  background: white;
  color: #222222;
  border: 1px solid #a3a3a3;
  border-radius: 4px;
  font-size: 1.2em;
  font-weight: 300;
  padding: 10px;
  padding-left: 20px;
  margin-bottom: 20px;
  width: 100%;
}
#formContacto .input-style:hover {
  border: 1px solid #222222;
}
.formSelect {
  background: white;
  color: hsla(0, 0%, 13%, 0.7);
  border: 1px solid #a3a3a3;
  border-radius: 4px;
  font-size: 1.2em;
  font-weight: 300;
  padding: 10px;
  padding-left: 16px;
  margin-bottom: 20px;
  width: 100%;
}
.formSelect:hover {
  border: 1px solid #222222;
}
.BTcontact {
  color: white;
  background: #222222;
  font-size: 1.25em;
  font-weight: 600;
  letter-spacing: 3px;
  border-radius: 2px;
  border: 1px solid #272727;
  margin: 1em 0 2em 0;
  padding: 0.3em 4em;
}
.BTcontact:hover {
  background: black;
}
.imageForm {
  background-image: url('../img/imageContact.jpg');
  background-size: cover;
  background-position: center;
  background-position-y: top;
  background-repeat: no-repeat;
  width: 60%;
}

/* ///////////------ FOOTER SECTION ------/////////// */

.sectionFooter {
  background: #007d9f;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 2% 5% 1% 5%;
}
.oficinasFooter {
  width: 240px; /* Responsive al 100% */
  margin-bottom: 1.5em;
}
.oficina {
  color: white;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 1em 0;
}
.oficinasFooter p {
  color: white;
  font-size: 12px;
  font-weight: 200;
  line-height: 20px;
  letter-spacing: 1px;
}
.telFooter {
  display: flex;
  justify-content: start;
  align-items: center;
}

.telFooterCR {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 2.3rem;
}
.telFooter span {
  color: #fbae17;
  font-size: 1em;
  font-weight: 200;
  letter-spacing: 1px;
  margin: 0.2em 0 0 1em;
}

.telFooterCR span {
  color: #fbae17;
  font-size: 1em;
  font-weight: 200;
  letter-spacing: 1px;
  margin: 0.2em 0 0 1em;
}

.footerCopyright {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  background: #1a8aa9;
  color: white;
  font-size: 12px;
  font-weight: 200;
  letter-spacing: 1px;
}

/* MediaQuery TABLET */
@media (min-width: 501px) and (max-width: 802px) {
  /* Sobre Albri */
  .sobreAlbri {
    width: 85%;
    margin-bottom: 2em;
  }
  /* Confian en nosotros */
  .sectionConfian {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .cliente {
    width: 45%;
  }
  /* Contacto */
  .imageForm {
    display: none;
  }
  /* Footer */
  .oficinasFooter {
    width: 100%;
  }
}

/* MediaQuery MOBILE */
@media (min-width: 0px) and (max-width: 500px) {
  /* Home */
  .sectionHome {
    align-items: center;
  }
  .sectionHome h3 {
    text-align: center;
    margin: 0.7em 0 2em 0;
  }
  .buttonsHome {
    justify-content: center;
  }
  /* Servicios */
  .servicio {
    width: 96%;
  }
  .imgServicio img {
    min-width: 100%;
  }
  /* Sobre Albri */
  .sobreAlbri {
    width: 96%;
  }
  /* Politicas */
  .titlePoliticas {
    font-size: clamp(1.5em, 2vw, 1.75em);
  }
  .BGpoliticas p {
    padding: 0 4% 3em 4%;
  }
  /* Confian en nosotros */
  .sectionConfian {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .cliente {
    width: 90%;
  }
  /* Contacto */
  .formulario {
    padding: 0 4% 2em 4%;
  }
  .imageForm {
    display: none;
  }
  /* Footer */
  .oficinasFooter {
    width: 100%;
  }
}
